.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom, #065f46c2, #00000000);

  padding: 25px 20px;
}

.header_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_buttons_container {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
}
.arrow_button {
  cursor: pointer;

  background-color: #000;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
}

.header_arrow_svg {
  width: 20px;
  height: 20px;
}

.logout_container {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
}

.logout_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  word-break: keep-all;
  cursor: pointer;
  border: none;

  background-color: #fff;
  color: #000;

  font: 400 17px/19px Poppins;

  border-radius: 20px;

  padding: 0 35px;
  height: 40px;

  transition: all 0.3s ease;
 
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.logout_icon {
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
}

.logout_svg {
  width: 20px;
  height: 20px;
}

.sign_up_button{
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fff;
  font: 400 17px/19px Poppins;

  border-radius: 20px;

  padding: 0 25px;
  height: 40px;

  transition: all 0.3s ease;

  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.play_lists_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.play_list {
  cursor: pointer;

  display: flex;
  flex-direction: row;
}

.liked_song {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  border-radius: 5px 0 0 5px;
  background: linear-gradient(
    130deg,
    rgba(121, 82, 204, 1) 0%,
    rgb(245, 231, 248) 100%
  );
}

.playlist_name {
  background-color: #ffffff28;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 90px 0 10px;

  border-radius: 0 5px 5px 0;
}
